<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relatório</title>

  <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css">

  <style>
    table {
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 0.7rem;
    }
  </style>
</head>
<body class="bg-white">
  <div class="p-8">
    <h1 class="text-3xl mb-8">Listagem de Passageiros</h1>
    <table class="bg-gray-50">
      <thead class="bg-gray-300">
        <tr>
          <th>Nome</th>
          <th>Número do voo</th>
          <th>Horário</th>
        </tr>
      </thead>
      <tbody>
        <% if (passengers.length > 0) { %>
          <% passengers.forEach(passenger => { %>
            <tr class="transition duration-300 border-t border-gray-200 hover:bg-gray-200">
              <td><%= passenger.name %> </td>
              <td><%= passenger.flightNumber %> </td>
              <td><%= passenger.time %> </td>
            </tr>
          <% }) %>
        <% } %>  
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <%= passengers.length %> Passengers 
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</body>
</html>